<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
               
    <add key="serv" value="zORwZzvn6JifDLi2lP9llA==" />
    <add key="port" value="3306" />
    <add key="user" value="solorsof_EA_Unanue" />
    <add key="pass" value="k0K2wHNJyNuK6enBjuBzgA==" />
    <add key="data" value="solorsof_altiplano" />
    <add key ="ConnectionLifeTime" value="300" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--
    <add key="serv" value="XfDRDQ1fq6YL39erRBjxbg==" />
    <add key="port" value="3306" />
    <add key="user" value="solorsof_ESJ_Juliaca" />
    <add key="pass" value="XJD5a0FFXa3rLAgOfENUNLHWW+8tcm9X" />
    <add key="data" value="solorsof_sanjose" />
    <add key ="ConnectionLifeTime" value="300" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <add key="serv" value="XfDRDQ1fq6YL39erRBjxbg==" />
    <add key="port" value="3306" />
    <add key="user" value="solorsof_EA_Desaguad" />
    <add key="pass" value="NNoVCxn+lNz73K1TtRUL88r4Map0+hwQ" />
    <add key="data" value="solorsof_TransCarga" />
    -->
    <add key="ConnectionLifeTime"  value="300" />
    <add key="ClientSettingsProvider.ServiceUri" value="" /> 
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BillServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itcpfegem-beta/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
        contract="ServiceRefSunat.billService" name="BillServicePort" >
        <headers>
          <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken Id="solorsoft">
              <wsse:Username>20430100344MODDATOS</wsse:Username>
              <wsse:Password>moddatos</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>